# API
PORT=3000

# Mongo
MONGO_URI=mongodb://mongo:27017
MONGO_DB_COLLECTION=videosdb

# AWS / LocalStack
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

S3_INPUT_BUCKET_NAME=videos-input
S3_OUTPUT_BUCKET_NAME=videos-processed

SNS_PROCESSING_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:video-processing-topic
SQS_STATUS_QUEUE_URL=http://localstack:4566/000000000000/video-status-queue

# Upload limits
MAX_FILES_PER_REQUEST=3
MAX_VIDEO_BYTES=2147483648